.user {
  width: 100%;
  display: flex;
  gap: 10px;

  .logo {
    width: 100px;

    img {
      width: 100px;
      height: 100px;
      border-radius: 10px;
    }
  }

  .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    .username {
      span {
        font-weight: bold;
      }
    }
  }

  .buttons {
    margin-top: auto;
    display: flex;
    gap: 5px;

    a,
    button {
      color: var(--color-heading);
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: center;
      background-color: var(--color-background-soft);
      padding: 5px 10px;
      border-radius: 5px;
      font-weight: 600;
    }
  }
}

.locale-block {
  position: absolute;
  margin-right: 1em;
  right: 0;
}

.notSet {
  color: var(--vt-c-text-dark-3);
}
