.add-new-widget {
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  height: 75px;
  width: 75px;
  border-radius: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--vt-c-black-soft);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  z-index: 2;
}

.grid-stack:has(.ui-remove-visible) {
  .ui-remove-visible {
    .ui-remove {
      display: block;
    }
  }
}
.ui-remove {
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: .6;
  display: none;
}

.grid-stack-item {
  .ui-resizable-handle {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="%23fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 20 20"><path d="m10 3 2 2H8l2-2v14l-2-2h4l-2 2"/></svg>') !important;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.grid-stack {
  margin-left: -10px;
  margin-right: -10px;
}

.grid-stack-item {
  transition: all 0.2s;
}
.ui-draggable-disabled:not(.ui-draggable-dragging) {
  opacity: 0.4;
}

.grid-stack:has(.ui-resizable-resizing) :not(.ui-resizable-resizing) {
  opacity: 0.4;
}

.ui-draggable-dragging > .grid-stack-item-content {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.2);
  opacity: 1 !important;
}

.ui-resizable-resizing > .grid-stack-item-content {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.2);
  opacity: 1 !important;
}
.ui-resizable-resizing {
  opacity: 1 !important;
}

.sidebar > .grid-stack-item,
.grid-stack-item-content {
  text-align: center;
  background-color: var(--vt-c-black-mute);
  border-radius: 10px;
  color: var(--vt-c-white-soft);
}

.grid-stack-item {
  overflow: hidden;
}

.grid-stack-item-content {
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
  overflow-y: hidden !important;
  .img {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.ui-draggable-disabled.ui-resizable-disabled > .grid-stack-item-content {
  background-color: #777;
}
