.upload-images {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 1em;
  padding-top: calc(
    1em + var(--tg-safe-area-inset-top, 0px) + var(--tg-content-safe-area-inset-top, 0px)
  );
  background-color: var(--vt-c-black-soft);
  z-index: 10;
  margin-left: -1em;
  margin-top: -1em;
  margin-top: calc(-1em - (var(--tg-safe-area-inset-top, 0px) + var(--tg-content-safe-area-inset-top, 0px)));
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
  }
}
