@import './base.css';

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

#app {
  margin: 0 auto;
  max-width: 720px;
  width: 100%;
  height: 100%;
  padding: 1em;
  position: relative;
}

.ui-resizable-se {
  right: 15px !important;
  bottom: 15px !important;
  width: 25px !important;
  height: 25px !important;
}
.ui-resizable-handle {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="%23fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 20 20"><path d="m10 3 2 2H8l2-2v14l-2-2h4l-2 2"/></svg>') !important;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
}

.van-image-preview__close-icon {
  padding-top: calc(var(--tg-safe-area-inset-top) + var(--tg-content-safe-area-inset-top));
}

.van-skeleton-image,
.van-skeleton-paragraph,
.van-skeleton-title {
  border-radius: 5px;
}

.van-skeleton {
  padding: 0 !important;
}
